# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MyStuff\Files\mySpace\Projects\ENSA\PL SQL\Git Repo (Assignements)\PLSQL_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
